---
layout: default
title: About
---
<div class="blurb">
    <h1>About</h1>
</div>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Space Empires: 4X</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Mono" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <li class="{% if page.title == 'Home' %}selected{% endif %}"><a href="/">Home</a></li>
            <li class="{% if page.title == 'About' %}selected{% endif %}">About</li>
            <li><a href="se4x/">Space Empires: 4X</a></li>
            <li><a href="xwfc/">X-Wing Fleet Creator</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="blurb">
            <h1>About</h1>
        </div>
    </div>
</body>
</html>
