body {
	background-color: #DADADA;
	font-family: "Fira Sans Mono", "Lucida Console", Monaco, monospace;
}

h1 {
	text-align: center;
	font-family: "Fira Sans", sans-serif;
}

tr button {
	min-width: 100%;
}

button {
	text-transform: uppercase;
}

table#GameTable tr input[type="number"] {
	width: 3.5em;
	padding-left: 0.5em;
	margin: 0
}

table#GameTable tr span {
	padding-left: 0.6em;
}

div#Body {
	position: fixed;
	width: 80%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #FAFAFA;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}

table#FileLoad {
    display: none;
    width: 100%;
	margin: auto;
}

.menu {
    float: right;
    text-align: right;
    display: none;
}

.popup {
	display: none;
	position: fixed;
	background-color: #FAFAFA;
	width: 60%;
	height: auto;
	max-height: 60%;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 0;
	margin: auto;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}

.Warn {
	background-color: #FFBABA !important;
}

.popup table {
	margin-bottom: 0.5em;
}

button#CloseBtn {
	margin-top: 1em;
	float: right;
}
