<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                {% if page.title == 'Home' %}
                <li class="current">Home</li>
                {% else %}
                <li><a href="/">Home</a></li>
                {% endif %}
                {% if page.title == 'About' %}
                <li class="current">About</li>
                {% else %}
                <li><a href="/about/">About</a></li>
                {% endif %}
                <li><a href="se4x/">Space Empires: 4X</a></li>
                <li><a href="xwfc/">X-Wing Fleet Creator</a></li>
            </ul>
        </nav>
        <div class="container">
        {{ content }}
        </div>
        <footer>
            <ul>
                <li><a href="mailto:jhollocombe@gmail.com">email</a></li>
                <li><a href="https://github.com/jholloc">github.com/jholloc</a></li>
            </ul>
        </footer>
    </body>
</html>
